body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color {
    color: #FFA500;
}
.flexible-container {
    display: flex;
}
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;

}
.half-width {
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(#FF694C , #f88f7a);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.my-pic img {
    width: 100%;
}
.dream-big {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 80%;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
}
.experience h1{
    text-align: center;
}
.color-item {
    color: #FFA500;
}
.experience-item {
    width: 40%;
    margin: 3%;
    padding: 2%;
    box-shadow: 10px 10px 30px grey;
}
.experience-item p {
    text-align: justify;
}
#full-stack {
    border-left: 8px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 8px solid;
    border-image: linear-gradient(blue, rgb(143, 208, 230));
    border-image-slice: 1;
}
footer p {
    text-align: center;
}